/* Hero */
#hero{
    background-color: #D6B276;
    color: white;
    height: 100vh;
}

.hero-img{
    height: inherit;
    object-fit: cover;
    opacity: 0.4;
}
  
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    width: 25em;
    height: 25em;
}



/* Navigation */
.navbar{
    background-color: #021B3E;
}

.nav-link{
    color: white;
    font-weight: 600;
    margin-right: 2em;
}

.nav-link:hover{
    color: #D6B276;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



/* Media Queries */
@media screen and (min-width: 768px){
    .logo{
        width: 45em;
        height: 45em;
    }
}
