.sidebar {
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    background-color: #021B3E; 
    padding-top: 3.5rem; 
}
  
.sidebar .navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 3em;
}

.sidebar .nav-link, .sidebar .nav-link.active {
    padding: 0.2em 2em;
    color: #FFD4A5;
    text-decoration: none;
    font-weight: bold;

}

.logo{
    width: 12em;
    height: 12em;
}

.icons{
    padding-right: 1em;
}