/* Navigation */
.navbar{
    background-color: #021B3E;
}

.navbar-brand{
    object-fit: contain;
    padding-top: 0%;
    padding-bottom: 0%;
}

.navigation-bar .nav-link{
    color: #EAEAEA;
    font-weight: 600;
    margin-left: 1.5em;
}

.nav-link:hover{
    color: #D6B276;
}


.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo-small {
    width: 2rem;
    height: 2rem;
    transform: scale(2.5)
}