.profile-page {
    align-items: center;
    /* background-color: #F6F4F1; */
    background-color: white;
}

.profile-page .container {
    background-color: whitesmoke;
    height: 450px;
    width: 850px;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}

.profile-page .info-container * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-page .info-container p {
    color: grey;
    font-size: 13.5px;
}

.profile-page .button {
    border: none;
    border-radius: 10px;
    background-color: rgba(0,158,242,255);
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 76.5%;
    left: 55%;
    padding: 17.5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
