.quote-history-container{
    background-color: white;
    flex-direction: column;
    align-items: center;

}

.quote-history-form, .quote-history-table{
    background-color: whitesmoke;
    width: 80em;
    margin-bottom: 4em;
}


.quote-history-form .row{
    height: 6em;
    justify-content: space-around;
    align-items: center;
}

tbody tr{
    height: 4em;
}

table tr{
    text-align: center;
    vertical-align: middle;
    border-bottom-width: 0;
}

table thead{
    background-color: #FFD4A5;
}

.table-striped > tbody > tr:nth-of-type(odd)>* {
    background-color:  whitesmoke; 
}