/* User portal sidebar navigation */

.sidebar {
    width: 15vw;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #021B3E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar > .container-fluid, .sidebar #responsive-navbar-nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin: 3em 0;
}
  
/* .sidebar .navbar-nav {
    display: flex;
    flex-direction: column;
} */

.sidebar .navbar-brand{
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    align-items: center;
}

.navbar-brand > h5{
    color: #FFD4A5;
    text-align: center;
    text-transform: uppercase;
}

.sidebar .nav-link {
    color: #EAEAEA;
    text-decoration: none;
    font-size: 1em;
    text-align: left;
}

.nav-link:hover{
    color: #D6B276;
}

.portal-logo{
    width: 10em;
    height: 10em;
}

.sidebar .icons{
    margin-right: 1em;
}